<div class="fixed top-0 left-0 w-2/12 h-full bg-transparent overflow-y-auto z-50 mr-8 p-4 m-8 ml-10">
    <div class="mx-4">
        <!-- Sidebar content here -->
        <h1 class="text-3xl font-bold mb-4">Insomn</h1>
        <!-- Sidebar links here (posts and add post) -->
        <div class="mb-8">
            <h2 class="text-xl mb-2"><a href="/home">Landing Page</a></h2>
            <h2 class="text-xl mb-2"><a href="/posts">Posts</a></h2>
            <h2 class="text-xl mb-2"><a href="/profile">Profile</a></h2>
            <!-- Add post button -->
            <a href="/post/add">
                <button class="fixed bottom-10 left-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2 w-2/12">Add Post</button>
            </a>
        </div>
    </div>
</div>