<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="email">email:</label>
        <input type="text" id="email" name="email">
        <label for="password">password:</label>
        <input type="text" id="password" name="password">
        <label for="username">persona:</label>
        <select name="username" id="username">
            <option value="bird">bird</option>
            <option value="cat">cat</option>
            <option value="dog">dog</option>
            <option value="insect">insect</option>
            <option value="fish">fish</option>
        </select>
        <input type="submit" value="register">
    </form>
</body>
</html>